body {
  background: #151515 url("/images/bkg.png") 0 0;
  color: #eaeaea;
  font-size: 16px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #b5e853;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
}

header {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border-bottom: 1px dashed #b5e853;
  padding: 0 0 40px 0;
  margin: 0 0 40px 0;
}

header h1 {
  font-size: 30px;
  line-height: 1.5;
  margin: 0;
  font-weight: bold;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #b5e853;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}
header .desc, header .url {
  font-size: 18px;
  font-weight: 300;
  color: #888;
}
.url:before {
  content: "$ ";
}

nav {
  margin-top: 20px;
}

main {
  max-width: 1400px;
}

b {
  font-weight: 300;
  color: #888;
}

a:target {
  background-color: #333;
}
a.d,
a.h,
a.i,
a.line {
  text-decoration: none;
}
a {
  color: #ffcc00;
  font-weight: 400;
  text-decoration: none;

  transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
a:hover {
  color: #ffeb9b;
}

#blob {
  line-height: 1.25;
}
#blob a {
  color: #888;
}
#blob a:hover {
  color: #ffeb9b;
}

table thead td {
  font-weight: 300;
  color: #b5e853;
}
table td {
  padding: 0 0.6em;
  vertical-align: top;
  white-space: nowrap;
}
table td:first-child {
  padding-left: 0;
}
table td:last-child {
  padding-right: 0;
}

#branches tr:hover td,
#tags tr:hover td,
#index tr:hover td,
#log tr:hover td,
#files tr:hover td {
  background-color: #333;
}

#index tr td:nth-child(2),
#tags tr td:nth-child(3),
#branches tr td:nth-child(3),
#log tr td:nth-child(2) {
  white-space: normal;
}

td.num {
  text-align: right;
}

/* Hunk header */
pre a.h {
  color: #b5e853;
}

/* Added lines */
.A,
span.i,
pre a.i {
  color: #9e9;
}

/* Deleted lines */
.D,
span.d,
pre a.d {
    color: #e99;
}

pre a.h:hover,
pre a.i:hover,
pre a.d:hover {
  text-decoration: none;
}
